body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #0ac5e6;
  text-decoration: none;
}

a:hover {
  color: #51c2d6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0ac5e6;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}



/* Header */

.header {
  padding: 5px 0;
  background-color: #f7f8f9;
}

.header .logo img {
  max-height: 40px;
  margin-right: 8px;
}

@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #0ac5e6;
  }
}

@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
  }
  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    background: #f7f8f9;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: var(--font-primary);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    letter-spacing: 1px;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #0ac5e6;
  }
  .mobile-nav-active .navbar {
    right: 0;
  }
}

.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  font-size: 28px;
  transition: all 0.4s;
  border-radius: 50px;
  padding: 5px;
}



/* Hero  */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero { padding-left: 160px; }
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
}

#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #0ac5e6;
  letter-spacing: 1px;
}

#hero .cta-buttons {
  margin-top: 20px;
}

#hero .cta-buttons a {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #0ac5e6;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#hero .cta-buttons a:hover {
  background-color: #077faa;
}

@media (max-width: 992px) {
  #hero .cta-buttons {
    text-align: center;
  }

  #hero .cta-buttons a {
    display: block;
    margin-bottom: 10px;
  }
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  margin-top: 30px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #0ac5e6;
}

@media (max-width: 992px) {
  #hero { text-align: center; }
  #hero h1 { font-size: 32px; line-height: 36px; }
  #hero p { margin-top: 10px; font-size: 20px; line-height: 24px; }
}


/* About, Skills & Resume */

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about a {
  color: black;
  text-decoration: none;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #0ac5e6;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #0ac5e6;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0ac5e6;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0ac5e6;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0ac5e6;
}

.resume a {
  color: rgb(73, 116, 235);
  text-decoration: none;
}

/* Projects */

.projects__content {
  display: grid;
  gap: 50px;
}

.projects-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;

}

@media only screen and (max-width: 56.25em) {
  .projects-row {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.projects-row-img-cont {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-row-img {
  width: 70%;
  object-fit: cover;
}

.projects-row-content {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  margin-left: 100px;
  text-align: justify;
}

.projects-row li {
  margin-bottom: 10px;
}

.projects-row a {
  color: rgb(73, 116, 235);
  text-decoration: none;
}

/* Contact */

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #0ac5e6;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4,
.contact .info p {
  padding-left: 60px;
}

.contact .info h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact {
  width: 100%;
  background: #fff;
}
.contact input,
.contact textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact input[type=text],
.contact input[type=email] {
  height: 44px;
}

.contact textarea {
  padding: 10px 12px;
}

.contact button[type=submit] {
  background: #0ac5e6;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 10px;
}

.contact button[type=submit]:hover {
  background: #51c2d6;
}


/* Footer */

#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15px;
  font-style: italic;
  margin: 0 0 20px 0;
}

#footer .social-links {
  margin: 0 0 10px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #0ac5e6;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #51c2d6;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 15px;
}

#footer .credits {
  font-size: 5px;
}


/* Back to top */

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0ac5e6;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0ac5e6;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

