{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Ravi Singh Patel | Full Stack Developer</title>
    <meta name="description"
          content="A Full Stack Developer proficient in both Frontend and Backend technologies, dedicated to crafting seamless user experiences by designing and developing the frontend of websites and web applications. Committed to delivering high-quality solutions that contribute to the overall success of the product."/>
    <meta name="author" content="Ravi Singh Patel"/>

    <meta property="og:title" content="Ravi Singh Patel | Full Stack Developer"/>
    <meta property="og:site_name" content="Ravi Singh Patel Portfolio Website"/>
    <meta property="og:url" content="https://ravisinghpatel.engineer"/>
    <meta property="og:description"
          content="A Full Stack Developer proficient in both Frontend and Backend technologies, dedicated to crafting seamless user experiences by designing and developing the frontend of websites and web applications. Committed to delivering high-quality solutions that contribute to the overall success of the product."/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="#"/>

    <!-- favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/favicon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

{% include 'header.html' %}

{% block content %}

{% endblock %}

{% include 'footer.html' %}

<!-- JS Files -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"
        integrity="sha512-fHXRw0CXruAoINU11+hgqYvY/PcsOWzmj0QmcSOtjlJcqITbPyypc8cYpidjPurWpCnlB8VKfRwx6PIpASCUkQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'assets/js/main.js' %}"></script>

  <script data-name="BMC-Widget" data-cfasync="false"
  src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="ravi.patel"
  data-description="Support me on Buy me a coffee!"
  data-message="Thank you for visiting. You can buy me a Coffee." data-color="#5F7FFF" data-position="left"
  data-x_margin="18" data-y_margin="18"></script>

</body>

</html>