{% load static %}


<button type="button" class="mobile-nav-toggle d-xl-none" aria-label="Toggle Mobile Navigation">
  <i class="bi bi-list" aria-hidden="true"></i>
</button>

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

        <a href="{% url 'index' %}" class="logo d-flex align-items-center  me-auto me-lg-0">
            <img src="{% static 'assets/img/favicon.png' %}" alt="Ravi Singh Patel logo">
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a>
                </li>
                <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
                </li>
                <li><a href="#projects" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                    <span>Projects</span></a>
                </li>
                <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
                </li>
            </ul>
        </nav>

    </div>
</header>